<!DOCTYPE html>
<html>
<head>
  <title>Add User</title>
  <style>
    form {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #F9F9F9;
      font-size: 12px;
    }
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="checkbox"], input[type="radio"] {
      width: auto;
      margin-right: 5px;
    }
    button {
      background-color: #4CAF50;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
    button:hover {
      background-color: #45A049;
    }
    .btn-view:hover {
        background-color: #6CA6CD; /* Darker blue */
    }
    .btn-view {
        background-color: #87CEEB; /* Light blue */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        font-size: 14px;
    }
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">Add User</h1>
  <a href="/userManagement" class="btn-view">Back to Home</a>
  <form action="/addUser" method="POST">
    <!-- user username -->
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="" required>
    <!-- user password -->
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="" required>
    <!-- user Email -->
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="" required>
    <!-- Submit Button -->
    <button type="submit">Add User</button>
  </form>
</body>
</html>